@media (max-width: $small) {
  #lighten {
    color: $color-headlines;
  }

  .space {
    color: $light-purple;
  }

  .main-bulb {
    opacity: 0;
  }

  .bulb-wrapper .img-top {
    display: block;
    z-index: 0;
  }
}

@media (max-width: $medium) {
  .hidden {
    display: none;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  .navbar {
    width: 100%vw;
  }

  .logo {
    width: 240px;
    padding-left: 15px;
  }

  .hamburger {
    width: 30px;
    margin-right: 15px;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    height: 2px;
  }

  .bulb-wrapper {
    margin-top: -270px;
  }

  .space {
    margin-top: 30px;
    letter-spacing: 5px;
  }

  #lighten {
    margin-top: -140px;
    letter-spacing: -5px;
    font-size: 85px;
  }

  .arrow {
    margin-top: 120px;
  }

  .arrow .arrow-text {
    margin-top: 10px;
  }

  .symbol {
    display: none;
  }

  .name {
    display: none;
  }

  .info {
    margin-top: 0;
    padding: 0 10px 0 10px;
    width: 80%;
  }

  .greeting {
    display: block;
    margin-top: 60px;
  }

  .first-line {
    margin-top: 5px;
  }

  .bold {
    margin-top: 20px;
  }

  .disc {
    margin-top: 40px;
  }

  .about-flex {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .hamburger-1 {
    display: block;
    background-color: $color-main;
  }

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-7px, 4px);
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -4px);
  }

  .nav-menu-1 {
    flex-direction: column;
    background-color: $color-backgrounds;
    width: 100%;
    float: left;
    transition: 0.3s;
  }

  .nav-item-1 {
    margin: 10px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .mobile-nav {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .circle-r {
    display: none;
  }

  .circle-r-2 {
    display: none;
  }
  .circle-r-3 {
    display: none;
  }

  .circle-white-right {
    display: none;
  }

  .circle-white-right-2 {
    display: none;
  }

  .pic {
    display: none;
  }

  .pic-mobile {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: -57;
  }

  #portfolio-items {
    margin-top: 60px;
  }

  .portfolio-items {
    justify-content: center;
  }

  .title {
    width: 80%;
    margin-left: 0;
    text-align: center;
    margin: auto;
  }

  .slide-title {
    padding: 30px 0 40px 0;
  }

  .slide-pic {
    text-align: center;
  }

  .slide-flex {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .left,
  .right {
    top: 40%;
    margin-top: 0px;
    font-size: 26px;
  }

  .form-flex {
    width: 70%;
    margin: auto;
  }

  .contact {
    margin-top: 40px;
  }

  label {
    font-size: 14px;
  }

  @keyframes title-move {
    from {
      bottom: -100px;
    }
    to {
      bottom: 0px;
    }
  }
}
