// load Fonts

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa&display=swap);

// colors

$purple: #5a106c;
$light-purple: #931db1;
$dark-purple: #140318;
$blue: #0830f7;
$black: #000000;
$white: #ffffff;
$active: #aa0a62;

$color-main: $purple;
$color-backgrounds: $black;
$color-headlines: $white;
$color-logo: $blue;

// Fonts

$font-main: "Montserrat", Helvetica, sans-serif;
$font-highlight: "Comfortaa", cursive, sans-serif;
$fa-font-path: "../webfonts" !default;

//breakpoints

$small: 450px;
$medium: 950px;
$mid-medium: 1456px;
$large: 1200px;
